@font-face{
    font-family: fontAwesome;
    src: url(./assets/fonts/fontawesome-free-5.15.4-web/css/fontawesome.css)
}
//fontsGoogle
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital@1&display=swap');
//paleta de colores
$light: #ebf5df;
$light-green: #b2b8ab;
$yellow-light: #9e906e;
$brown: #cf5b47;
$red-brown: #cf391d;

*{
    margin: 0;
    padding: 0;
}

body{
    padding: 10px;
    background-color: $light;
}

h1{
    font-size: 2.5em;
    font-family: 'Dancing Script', cursive;
}

h2{
    display: flex;
}

main{
    display: flex;
    flex-direction: column;
    margin: 2px;
    padding: 5px ;
    font-family: 'EB Garamond', serif;
    //icons
    button{
        background-color: #cf391d;
        border: #cf391d 1px solid;
        color: aliceblue;
        padding: 5px;
        border-radius: 5px;
        margin-right: 3px;
        &:hover{
            cursor: pointer;
            background-color: $brown;
        }
        &.add::before{
            font-family: "fontAwesome";
            content: "\f055";
        }
        &.edit::before{
            font-family: "fontAwesome";
            content: "\f044";
        }
        &.scrap::before{
            font-family: "fontAwesome";
            content: "\f058";
        }
        &.erase::before{
            font-family: "fontAwesome";
            content: "\f12d";
        }
        &.save::before{
            font-family: "fontAwesome";
            content: "\f0c7";
        }
        &.notDone::before{
            font-family: "fontAwesome";
            content: "\f057";
        }
    }

    input{
        width: 220px;
        padding: 5px;
        border-radius: 5px;
        margin-right: 10px;
        background-color: $light-green;
        border: $light-green 2px solid;
        margin-bottom: 3px;
    }

    .emptyAlert{
        padding: 5px 0 25px;
    }

    .hidden{
        visibility: hidden;
    }

    .taskSection{
        margin-top: 5px;
    }
    
    .taskInput:not(:read-only){
        cursor: text;
        color: rgb(97, 84, 84);
        font-weight: 600;
    }

    .taskInput .done{
        text-decoration: line-through;
    }

}
